@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}

html {
    box-sizing: border-box;
    height: 100%;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
    font-family: 'Golos Text', sans-serif;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Oranienbaum', serif; */
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #1F252D;
}

body._lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1356px;
    margin: 0 auto;
    padding: 0 30px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-size: inherit;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input {
    outline: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0;
}

ul,ol {
    padding: 0;
}

button {
    padding: 0;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

.section__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 98.5%;
}

.section__title_center {
    text-align: center;
    margin: 0 auto 44px;
    max-width: 748px;
}

.btn {
    font-size: 14px;
    font-weight: 500;
    padding: 24px 48px;
    background-color: #25252c;
    border: 2px solid #25252c;
    border-radius: 55px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.wrapper__icon {
    border-radius: 55px;
    border: 1px solid rgba(2, 2, 2, 0.25);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
    min-width: 64px;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease;
}

.block__video {
    position: relative;
}

body._touch .btn__video {
    display: none;
}

/* ._anim-show {
    
}

._anim-show._active,
._active ._anim-show {
    
} */



/* section header */
.header {
    position: absolute;
    width: 100%;
    padding-top: 42px;
    background-color: transparent;
    color: #ffffff;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu__list {
    display: flex;
    gap: 18px;
    font-size: 16px;
}

.menu__list-link {
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: border .5s ease;
}

.menu__list-link:hover {
    border-bottom: 2px solid #FFFFFF;
    transition: border .5s ease;
}

.menu__burger {
    display: none;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.menu__burger span,
.menu__burger::before,
.menu__burger::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #FFFFFF;
    transition: all .3s ease 0s;
}

.menu__burger::before,
.menu__burger::after {
    content: '';
}

.menu__burger::before {
    top: 0;
}

.menu__burger::after {
    bottom: 0;
}

.menu__burger span {
    top: 50%;
    transform:  scale(1) translate(0px, -50%);
}

.menu__burger._active span {
    transform: scale(0) translate(0px, -50px);
}

.menu__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}

.menu__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}





/* section build */

body._touch .build {
    min-height: 100dvh;
}

body._touch .build__bg {
    height: 100dvh;
}

.build {
    min-height: 100vh;
    position: relative;
    background-color: rgba(25, 25, 25, 0.25);
    padding-top: 102px;
}

.build__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

.build__inner {
    display: flex;
    color: #ffffff;
    justify-content: space-around;
}

.wrapper__title {
    max-width: 584px;
    margin: 167px 0 22px 0;
}

.wrapper__title span {
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px rgba(0, 0, 0, 0.10), -1px 16px 16px rgba(0, 0, 0, 0.09), -3px 35px 21px rgba(0, 0, 0, 0.05), -6px 62px 25px rgba(0, 0, 0, 0.01), -9px 98px 27px rgba(0, 0, 0, 0.00);
}

.build__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 113%;
    margin-bottom: 12px;
}

.build__text {
    font-size: 20px;
    line-height: 113%;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px rgba(0, 0, 0, 0.10), -1px 16px 16px rgba(0, 0, 0, 0.09), -3px 35px 21px rgba(0, 0, 0, 0.05), -6px 62px 25px rgba(0, 0, 0, 0.01), -9px 98px 27px rgba(0, 0, 0, 0.00);
    margin-bottom: 46px;
}

.build__btn:hover {
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition: background-color .5s ease;
}

.wrapper__scroll {
    border: none;
    background-color: transparent;
    margin: 403px 0 22px 0;
    position: relative;
    width: 200px;
    height: 200px;
}

.scroll__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 78px;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.scroll__circle {
    animation: rotate 10s ease-in-out 2.5s infinite;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper__scroll:hover .scroll__arrow {
    width: 20px;
    height: 90px;
    transition: all .5s ease;
}




/* section about */
.about {
    background: linear-gradient(0deg, #1E262F 0%, #1E262F 100%), #181C1D;
    color: #FFFFFF;
    padding: 174px 0;
    position: relative;
}

.about__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__logo-img {
    width: 63px;
    height: 23px;
    transform: rotate(-90deg);
}

.about__section-title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.64px;
    line-height: 113%;
    margin-bottom: 16px;
}

.about__link,
.about__sublink {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 113%;
    opacity: 0.25;
    margin-bottom: 16px;
}

.about__link {
    font-size: 24px;
    letter-spacing: -0.48px;
}

.about__sublink {
    display: block;
    font-size: 18px;
    letter-spacing: -0.36px;
}

.about__content {
    color: rgba(255, 255, 255, 0.80);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px rgba(0, 0, 0, 0.10), -1px 16px 16px rgba(0, 0, 0, 0.09), -3px 35px 21px rgba(0, 0, 0, 0.05), -6px 62px 25px rgba(0, 0, 0, 0.01), -9px 98px 27px rgba(0, 0, 0, 0.00);
    display: flex;
}

.company__name {
    font-family: 'Oranienbaum', serif;
    font-size: 56px;
    line-height: 113%;
    max-width: 240px;
    display: flex;
    align-items: center;
    margin: 0 20px 100px;
}

.block__content {
    text-align: right;
}

.about__block-video {
    max-width: 376px;
    margin: 0 0 44px auto;
}

.company__video {
    width: 100%;
    border-radius: 12px;
    
}

.btn__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.block__company-text {
    text-align: left;
}

.company__text {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: -0.32px;
    max-width: 453px;
    margin-bottom: 16px;
}




/* section estimate */
.estimate {
    background: #FAFAFA;
    padding: 187px 0 196px;
}

.estimate__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estimate__text {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px rgba(0, 0, 0, 0.10), -1px 16px 16px rgba(0, 0, 0, 0.09), -3px 35px 21px rgba(0, 0, 0, 0.05), -6px 62px 25px rgba(0, 0, 0, 0.01), -9px 98px 27px rgba(0, 0, 0, 0.00);
    line-height: 113%;
    max-width: 320px;
    margin: 10px;
}

.estimate__images {
    position: relative;
}

.estimate__image-notebook {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.estimate__image-content {
    width: 76%;
    height: 79%;
    position: absolute;
    top: 7.6%;
    left: 12%;
    z-index: 0;
}



/* section profit */
.profit {
    background: #FAFAFA;
    padding: 50px 0;
}

.profit__content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    justify-items: end;
}

.profit__item {
    margin-bottom: 18px;
}

.profit__item p {
    font-family: 'Inter', sans-serif;
}

.profit__link {
    display: flex;
    align-items: center;
    gap: 24px;
    width: fit-content;
}

.profit__link:hover .wrapper__icon {
    transform: scale(1.2);
    transition: transform .3s ease;
}




/* section project */
.projects {
    background: #FAFAFA;
    padding: 50px 0;
}

.projects__inner {
    text-align: center;
}

.projects__slider {
    width: 100%;
    height: 100%;
    margin-bottom: 44px;
}

.projects__slider::before {
    content: '';
    position: absolute;
    display: block;
    background: linear-gradient(95deg, #FAFAFA 3.62%, rgba(250, 250, 250, 0.00) 74.52%);
    width: 11%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
}

.projects__slider::after {
    content: '';
    position: absolute;
    display: block;
    background: linear-gradient(-95deg, #FAFAFA 3.62%, rgba(250, 250, 250, 0.00) 74.52%);
    width: 11%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    pointer-events: none;
}

.swiper-button-prev {
    transform: rotate(180deg);
    background-color: #25252C;
    border-radius: 55%;
    padding: 24px;
    margin-left: 4%;
    transition: transform .3s ease;
}

.swiper-button-prev:hover {
    transform: rotate(180deg) scale(1.3);
    transition: transform .3s ease;
}

.swiper-button-prev::after {
    content: url(../images/arrow-white.svg);
    position: absolute;
    width: 21px;
    height: 21px;
    top: 15%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.swiper-button-next {
    background-color: #25252C;
    border-radius: 55%;
    padding: 24px;
    margin-right: 4%;
    transition: transform .3s ease;
}

.swiper-button-next:hover {
    transform: scale(1.1);
    transition: transform .3s ease;
}

.swiper-button-next::after {
    content: url(../images/arrow-white.svg);
    position: absolute;
    width: 21px;
    height: 21px;
    top: 14%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.project__item {
    display: grid;
    max-width: 380px;
    background-color: #FFFFFF;
    border-radius: 12px;
    height: auto;
}

.images__slider {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 18px;
    height: fit-content;
}

.images__slider-item {
    width: 380px;
    object-fit: cover;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    border: 2px solid #FFFFFF;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    background-color: #FFFFFF;
}

.project__content {
    display: grid;
    align-items: end;
    padding: 18px;

}

.project__title {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 500;
}

.project__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    padding-bottom: 21px;
    margin-bottom: 18px;
    border-bottom: 1px solid rgba(235, 235, 236, 0.50);;
}  

.project__list-item {
    position: relative;
    padding-left: 28px;
    color: #121212;
}

.project__list-item::before {
    content: '';
    background-image: url(../images/parameter-icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 17px;
}

.project__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__price p {
    color: #121212;
    font-size: 12px;
}

.project__price span {
    font-size: 20px;
    font-weight: 500;
}

.project__price-link {
    border-radius: 55px;
    border: 1px solid #1F252D;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px 0px rgba(0, 0, 0, 0.10), -1px 16px 16px 0px rgba(0, 0, 0, 0.09), -3px 35px 21px 0px rgba(0, 0, 0, 0.05), -6px 62px 25px 0px rgba(0, 0, 0, 0.01), -9px 98px 27px 0px rgba(0, 0, 0, 0.00);
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}

.project__price-link:hover {
    background-color: #1F252D;
    transition: .3s ease;
}

.project__price-link:hover svg path{
    fill: #FFFFFF;
    transition: .3s ease;
}

.projects__button {
    display: flex;
    justify-content: center;
}

.projects__btn:hover {
    background-color: #FFFFFF;
    color: #25252C;
    transition: .5s ease;
}

.projects__btn:hover svg path{
    fill: #25252C;
    transition: .5s ease;
}



/* sectoin categories */
.categories {
    background: #FAFAFA;
    padding: 50px 0;
}

.categories__list {
    display: flex;
    justify-content: center;
    gap: 21px;
    margin-bottom: 53px;
}

.categories__item {
    text-align: center;
}

.categories__item p {
    color: rgba(2, 2, 2, 0.25);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px rgba(0, 0, 0, 0.10), -1px 16px 16px rgba(0, 0, 0, 0.09), -3px 35px 21px rgba(0, 0, 0, 0.05), -6px 62px 25px rgba(0, 0, 0, 0.01), -9px 98px 27px rgba(0, 0, 0, 0.00);
    font-family: Inter;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.24px;
}

.categories__item-btn {
    margin-bottom: 8px;
    cursor: pointer;
}

.categories__item.active .categories__item-btn {
    background-color: #25252C;
}

.categories__item.active p {
    color: #25252C;
}

.categories__item-btn:hover {
    transform: scale(1.2);
    transition: transform .3s ease;
}

.categories__content {
    display: none;
    align-items: center;
    justify-content: center;
}

.categories__content.active {
    display: flex;
}

.categories__description {
    max-width: 455px;
    margin-right: 40px;
}

.categories__title {
    color: #020202;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px rgba(0, 0, 0, 0.10), -1px 16px 16px rgba(0, 0, 0, 0.09), -3px 35px 21px rgba(0, 0, 0, 0.05), -6px 62px 25px rgba(0, 0, 0, 0.01), -9px 98px 27px rgba(0, 0, 0, 0.00);
    font-family: 'Oranienbaum', serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 95%;
}

.categories__subtitle {
    color: #020202;
    font-family: Inter;
    font-size: 42px;
    font-weight: 300;
    line-height: 113%;
    letter-spacing: -1.68px;
    margin-bottom: 29px;
}

.categories__text {
    color: rgba(2, 2, 2, 0.80);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 4px 9px rgba(0, 0, 0, 0.10), -1px 16px 16px rgba(0, 0, 0, 0.09), -3px 35px 21px rgba(0, 0, 0, 0.05), -6px 62px 25px rgba(0, 0, 0, 0.01), -9px 98px 27px rgba(0, 0, 0, 0.00);
    font-family: Inter;
    font-weight: 300;
    letter-spacing: -0.32px;
    margin-bottom: 8px;
}

.categories__video {
    max-width: 509px;
    max-height: 351px;
    border-radius: 12px;
}



/* section construction */
.construction {
    background: #FAFAFA;
    padding: 50px 0;
}

.construction__content {
    display: grid;
    grid-template-columns: 20% 70%;
    gap: 36px;
    align-items: center;
    justify-content: space-between;
}

.construction__btn {
    font-size: 12px;
    font-weight: 500;
    color: #1F252D;
    background: transparent;
    border: none;
    padding: 12px 0;
    cursor: pointer;  
}

.swiper-slide-thumb-active .construction__btn{
    border-radius: 12px;
    background: linear-gradient(0deg, #1F252D 0%, #1F252D 100%), #FFF;
    color: #FFFFFF;
    padding: 12px;
    font-size: 14px;
}

.swiper__tabs {
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center; 
    margin: 0 auto;   
}

.slider__tabs {
    width: 100%;
    height: 100%;
    text-align: center;
}

.construction__gallery {
    width: calc(29% + 49vw);
    height: 100%;   
}

.construction__gallery-item {
    width: 100%;
    height: 100%;
}

.construction__gallery-item img,
.construction__gallery-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}



/* section price */
.price {
    background: #FAFAFA;
    padding: 50px 0;
}

.price__subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.price__slider {
    border-radius: 12px;
}

.price__slide-item {
    height: auto;
}

.price__slide-wrapper {
    background-image: url(../images/price-slider-bg.jpg);
    height: 100%;
    padding: 25px 20px 152px;
    color: #FFFFFF;
}

.price__slide-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.price__slide-option {
    display: grid;
    gap: 16px;
}

.price__slide-option_three-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.price__slide-option_three-rows {
    grid-template-columns: 1fr 1fr;
}

.price__slide-option_four-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.price__option-item {
    max-width: 408px;
}

.price__slide-option label {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.price__option-wrapper p {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.price__option-wrapper_no-img label {
    padding: 30px 30px 30px 70px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    background: conic-gradient(from -90deg at 50% 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 22%, rgba(255, 255, 255, 0.1) 66%);
    height: 94px;
    display: flex;
    align-items: center;
    text-align: left;
}

.price__option-image {
    border-radius: 12px;
    margin-bottom: 22px;
}
.price__option-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check__style {
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #21252C;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
}

.check__style_three-rows {
    left: 7%;
    top: 50%;
}

.price__option-input:checked + .check__style,
.price__option-input:checked + .check__style svg path,
.price__option-input:checked + .check__style svg circle {
    stroke: #21252c;
    background-color: #FFFFFF;
    transition: all 0.5s ease;
}

.swiper-pagination-fraction {
    color: #FFFFFF;
    justify-content: left;
    left: 20px;
    bottom: 36px;
}

.swiper-pagination-current {
    margin-right: 5px;
}

.swiper-pagination-total {
    margin-left: 5px;
}

.price__wrapper-button .swiper-button-next {
    --swiper-navigation-top-offset: 93%;
    --swiper-navigation-size: 52px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 0 79px 0 48px;
    border-radius: 55px;
    display: flex;
    color: #FFFFFF;
}

.price__wrapper-button .swiper-button-next::after {
    top: 5%;
    left: 63%;
}

.price__slide-wrapper_end {
    padding: 40px;
}

.price__slide-subtitle {
    text-align: center;
    margin-bottom: 43px;
}

.price__slide-social {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 17px;
    font-size: 10px;
    margin-bottom: 43px;
}

.price__slide-social label{
    cursor: pointer;
}

.check__style-social img {
    width: 48px;
    height: 48px;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 9px;
}

.price__option-input:checked + .check__style-social img{
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.5s ease;
}

.price__slide-form {
    display: flex;
    flex-direction: column;
    max-width: 522px;
    margin: 0 auto;
}

.price__form-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 31px;
    color: #FFFFFF;
    font-size: 18px;
}

.price__form-input_white::placeholder {
    color: #FFFFFF;
}

.price__form-input + .price__form-input {
    margin-top: 36px;
}

.price__form-submit {
    background: conic-gradient(from -90deg at 50% 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 22%, rgba(255, 255, 255, 0.1) 66%);
    border: 1px solid #FFFFFF;
    margin: 30px auto 18px;
}

.privacy__policy {
    max-width: 522px;
    margin: 0 auto;
    text-align: center;
}

.privacy__policy-linc {
    text-decoration: underline;
}

.price__slider-fraction {
    position: absolute;
    display: flex;
    left: 20px;
    bottom: 36px;
    color: #FFFFFF;
    z-index: 10;
}

.price__slider-sepparator {
    margin: 0 5px;
}

.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    --swiper-pagination-progressbar-size: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    top: 87%;
    width: 96%;
    left: 2%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    --swiper-pagination-color: rgba(255, 255, 255, 0.5);
    height: 4px;
    top: -1px;
}

.swiper-scrollbar-custom-container {
    position: fixed;
    bottom: 100px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.swiper-scrollbar-drag {
    opacity: 1;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}




















/* section footer */

footer {
    background-color: #1E242C;
    padding: 25px 0;
    font-size: 14px;
    color: #ffffff;
}

.footer__menu {
    padding-bottom: 24px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.footer__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer__menu-title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #696969;
}

.footer__menu-title::after {
    content: '';  
    display: none;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    width: 0;
    height: 0;
    margin-left: 5px; 
    transition: transform .3s ease 0s;    
}

.footer__menu-title._active::after {
    transform: rotate(-180deg);
}

.footer__submenu-item {
    margin-bottom: 8px;
    display: block;
}

.footer__submenu-link {
    transition: color .5s ease;
}

.footer__submenu-link:hover {
    color: #4C5F47;
    transition: color .5s ease;
}

.menu__last-item {
    margin-bottom: 12px;
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.menu__last-link {
    transition: color .5s ease;
}

.menu__last-link:hover {
    color: #4C5F47;
    transition: color .5s ease;
}

.footer__logo {
    margin-bottom: 24px;
    display: block;
}

.contacts__list {
    margin-bottom: 24px;
}

.contacts__item {
    margin-bottom: 12px;
}

.contacts__phone {
    transition: color .5s ease;
}

.contacts__phone:hover {
    color: #4C5F47;
    transition: color .5s ease;
}

.social__list {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.social__link svg{
    transition: fill .5s ease;
}

.social__link:hover svg {
    fill: #4C5F47;
    transition: fill .5s ease;
}

.footer__copyright-item {
    margin-bottom: 6px;
    color: rgba(255, 255, 255, 0.25);
    font-size: 12px;
}
















/* responsive */
@media (max-width: 1200px) {
    .project__list {
        font-size: 15px;
        gap: 14px;
    }
    .project__list-item {
        padding-left: 24px;
    }
    .btn {
        padding: 18px 36px;
    }
    .price__slide-wrapper {
        padding: 25px 20px 90px;
    }
    .price__slide-subtitle {
        margin-bottom: 20px;
    }
    .price__slide-social {
        margin-bottom: 25px;
    }
    .price__form-input {
        height: 25px;
    }
    .price__form-input + .price__form-input {
        margin-top: 25px;
    }
    .price__option-wrapper_no-img label {
        height: 50px;
    }
}

@media (max-width: 992px) {
    .btn {
        font-size: 14px;
        padding: 20px 44px;
    }
    .about {
        padding: 150px 0;
    }
    .about__section-title {
        font-size: 30px;
    }
    .about__link {
        font-size: 22px;
    }
    .about__sublink {
        font-size: 16px;
    }
    .company__name {
        font-size: 54px;
    }
    .company__text {
        font-size: 14px;
    }
    .estimate {
        padding: 150px 0;
    }
    .section__title {
        font-size: 30px;
    }
    .estimate__text {
        font-size: 14px;
    }
    .profit__link {
        gap: 15px;
    }
    .profit__link p {
        font-size: 14px;
    }
    .projects__slider::after, .projects__slider::before { 
        width: 18%;
    }
    .project__title {
        font-size: 16px;
    }
    .project__list {
        font-size: 12px;
        gap: 10px;
    }
    .project__list-item {
        padding-left: 20px;
    }
    .project__price p {
        font-size: 10px;
    }
    .project__price span {
        font-size: 17px;
    }
    .project__price-link {
        width: 42px;
        height: 42px;
    }
    .categories__title {
        font-size: 42px;
    }
    .categories__subtitle {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .categories__text {
        font-size: 14px;
    }
    .categories__video {
        max-width: 360px;
    }
    .price__subtitle {
        font-size: 13px;
    }
    .price__slide-title {
        font-size: 22px;
    }
    .price__slide-wrapper {
        padding: 25px 20px 50px;
    }
    .price__option-wrapper label {
        font-size: 14px;
    }
    .price__option-wrapper_no-img label {
        height: 40px;
    }
    .check__style_three-rows {
        left: 10%;
    }
}

@media (max-width: 768px) {
    .btn {
        font-size: 12px;
        padding: 16px 30px;
    }
    .wrapper__title {
        margin: 100px 0 22px 0;
    }
    .wrapper__title span {
        font-size: 12px;
    }
    .build__title {
        font-size: 62px;
    }
    .build__text {
        font-size: 16px;
    }
    .about {
        padding: 80px 0;
    }
    .about__title {
        margin-right: 20px;
    }
    .about__section-title {
        font-size: 27px;
    }
    .about__link {
        font-size: 19px;
    }
    .about__sublink {
        font-size: 15px;
    }
    .about__content {
        flex-wrap: wrap;
        text-align: right;
        justify-content: center;
    }
    .company__name {
        margin: 0 20px 40px;
        font-size: 45px;
    }
    .block__video {
        margin: 0 auto 44px;
    }
    .block__company-text {
        font-size: 14px;
    }
    .estimate {
        padding: 80px 0;
    }
    .estimate__inner {
        flex-wrap: wrap;
    }
    .estimate__content {
        margin-bottom: 20px;
        text-align: center;
    }
    .section__title_center {
        margin-bottom: 30px;
    }
    .profit__content {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .profit__item {
        margin-bottom: 10px;
    }
    .wrapper__icon {
        min-width: 54px;
        min-height: 54px;
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    .categories__content {
        flex-wrap: wrap;
    }
    .categories__description {
        text-align: center;
        margin: 0 0 16px 0;
    }
    .categories__video {
        max-width: 100%;
    }
    .construction__content {
        grid-template-columns: 100%;
    }
    .construction__item {
        text-align: center;
    }
    .swiper-slide-thumb-active .construction__btn{
        font-size: 12px;
    }
    .construction__gallery {
        width: 100%;
    }
    .price__slide-title {
        font-size: 20px;
    }
    .price__subtitle {
        font-size: 12px;
    }
    .price__slide-wrapper {
        padding: 25px 20px 0px;
    }
    .price__option-wrapper label,
    .price__option-wrapper p {
        font-size: 12px;
    }
    .price__slide-subtitle {
        font-size: 14px;
    }
    .price__slide-wrapper_end {
        padding: 30px;
    }
    .price__slide-social {
        margin-bottom: 20px;
    }
    .check__style-social img {
        width: 35px;
        height: 35px;
    }
    .price__slide-form {
        max-width: 330px;
    }
    .price__form-input {
        font-size: 14px;
    }
    .privacy__policy {
        font-size: 14px;
    }
    .price__form-submit {
        margin: 20px auto 18px;
    }
    .price__wrapper-button .swiper-button-next {
        --swiper-navigation-size: 40px;
        padding: 0 67px 0 50px;
    }
    .price__wrapper-button .swiper-button-next::after {
        top: 17%;
        left: 70%;
    }
    .price__slider-fraction {
        bottom: 26px;
    }
}

@media (max-width: 640px) {
    .section__title {
        font-size: 24px;
    }
    .btn {
        padding: 10px 20px;
    }
    .menu__list {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: block;
        padding: 100px 30px 30px 30px;
        transition: left .3s ease 0s;
        overflow: auto;
        z-index: 4;
    }
    .menu__list._active {
        left: 0;
    }
    .menu__list-item {
        margin-bottom: 30px;
        font-size: 24px;
    }
    .menu__burger {
        display: block;
    }
    .wrapper__title {
        max-width: 402px;
        margin: 10px 0 0;
        text-align: center;
    }
    .wrapper__title span {
        font-size: 10px;
    }
    .build__inner {
        flex-wrap: wrap;
    }
    .build__title {
        font-size: 50px;
    }
    .build__text {
        font-size: 13px;
        margin-bottom: 23px;
    }
    .about__logo {
        display: none;
    }
    .btn {
        padding: 13px 37px;
        margin: 10px auto;
    }
    .wrapper__scroll {
        margin: 23px 0 22px 0;
    }

    .footer__menu-list {
        gap: 0;
        flex-direction: column;
    }

    .footer__menu-title::after {
        display: inline-block;
    }
    
    .footer__submenu-list {
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        transition: opacity .3s, max-height .3s;
    }
    .footer__submenu-list._active {
        opacity: 1;
        visibility: visible;
        max-height: fit-content;
        transition: opacity .3s, max-height .3s;
    }
    .images__slider {
        margin-bottom: 0;
    }
    .project__list {
        grid-template-columns: 1fr;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }
    .price__option-wrapper p {
        font-size: 10px;
    }
    .check__style {
        width: 22px;
        height: 22px;
    }
    .check__style svg{
        width: 18px;
        height: 18px;
    }
    .price__slide-option {
        gap: 10px;
    }
    .price__option-wrapper_no-img label {
        height: 20px;
        padding: 30px 30px 30px 42px;
    }
    .price__slider-fraction {
        bottom: 18px;
    }
    .price__wrapper-button .swiper-button-next {
        --swiper-navigation-size: 33px;
        padding: 0px 50px 0 41px;
        font-size: 12px;
    }
    .price__wrapper-button .swiper-button-next::after {
        top: 27%;
    }
    .price__slide-title {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .price__slide-subtitle {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .price__slide-social {
        margin-bottom: 10px;
    }
    .check__style-social img {
        width: 30px;
        height: 30px;
    }
    .price__form-input {
        font-size: 12px;
    }
    .price__form-input + .price__form-input {
        margin-top: 10px;
    }
    .privacy__policy {
        font-size: 10px;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .btn {
        padding: 7px 12px;
    }
    .build__title {
        font-size: 40px;
    }
    .about {
        padding: 60px 0;
    }
    .about__inner {
        flex-wrap: wrap;
    }
    .about__title {
        text-align: center;
        margin: 0;
    }
    .about__content {
        text-align: center;
    }
    .company__name {
        margin: 0 20px 25px;
        font-size: 40px;
    }
    .company__text {
        font-size: 12px;
    }
    .block__video {
        margin: 0 auto 24px;
    }
    .block__company-text {
        text-align: center;
        font-size: 12px;
    }
    .estimate {
        padding: 60px 0;
    }
    .section__title {
        font-size: 22px;
    }
    .estimate__text {
        font-size: 12px;
    }
    .profit__item p {
        font-size: 12px;
    }
    .projects__slider {
        margin-bottom: 24px;
    }
    .projects__slider::after, .projects__slider::before {
        width: 23%;
    }
    .project__title {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .project__list {
        font-size: 11px;
        gap: 5px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .project__price p {
        font-size: 8px;
    }
    .project__price span {
        font-size: 14px;
    }
    .project__price-link {
        width: 26px;
        height: 26px;
    }
    .categories__title {
        font-size: 38px;
    }
    .categories__subtitle {
        font-size: 28px;
    }
    .categories__text {
        font-size: 12px;
    }
    .swiper-slide-thumb-active .construction__btn{
        padding: 8px;
    }
    .price__slide-option_four-columns {
        grid-template-columns: 1fr 1fr;
    }
    .price__slide-option_three-rows {
        grid-template-columns: 1fr;
    }
    .price__slide-option_three-columns {
        grid-template-columns: 1fr 1fr;
    }
    .price__slide-wrapper {
        padding: 25px 20px 80px;
    }
    .price__option-wrapper_no-img label {
        height: 50px;
        padding: 20px 20px 20px 55px;
    }
    .price__option-image {
        border-radius: 5px;
        margin-bottom: 12px;
    }
    .price__subtitle {
        font-size: 10px;
    }
    .price__slide-wrapper_end {
        padding: 20px;
    }
    .price__slide-form {
        max-width: 178px;
    }
    .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
        width: 90%;
        left: 5%;
        top: 90%;
    }
    .price__slider-fraction {
        bottom: 23px;
    }
    .price__wrapper-button .swiper-button-next {
        --swiper-navigation-top-offset: 95%;
    }
}
